In [1]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd

from sklearn.metrics import accuracy_score

from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [2]:
dataset = pd.read_excel("data/Updated 1000 Data with gender male and female.xlsx", sheet_name="Sheet2")
dataset.head()

,Observations,Age,Sex,Temp in Celsius,SPO2,Heart Rate,Respiration,Patient Condition
0,1,26,M,34.75,100,87,29,1
1,2,27,M,35.50,97,93,28,1
2,3,28,M,34.36,96,64,27,1
3,4,25,M,34.21,98,94,26,1
4,5,26,M,34.17,97,98,25,1

In [3]:
one_hot_sex = {"M": 0, "F": 1}
dataset["Sex"] = dataset["Sex"].replace(one_hot_sex)

In [7]:
print(list(dataset.columns))

['Observations ', 'Age', 'Sex', 'Temp in Celsius', 'SPO2', 'Heart Rate', 'Respiration', 'Patient Condition']

#### Split into training and testing

In [5]:
X = dataset[['Age', 'Sex', 'Temp in Celsius', 'SPO2', 'Heart Rate', 'Respiration']]
y = dataset["Patient Condition"]

#### Scale the data

In [6]:
# X = StandardScaler().fit_transform(X)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=42)

#### Logistic Regression model

In [7]:
model = LogisticRegression().fit(X_train, y_train)
accuracy_score(y_test, model.predict(X_test))

0.93

#### Save the model

In [8]:
import os
import pickle
pickle.dump(model, open(os.path.join(os.path.join(os.getcwd(), "model"), 'model.pkl'), 'wb'))